// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background: url("dealership_outside.jpg") no-repeat center center;
  text-shadow:  1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.car_image {
  max-width: 100%;
  margin-top: 20px;
}

.about_image {
  width: 100%;
  max-width: 400px;
}

.about_blurb {
  margin-top:10px;
  padding: 10px;
}

.container-fluid {
  padding: 0px;
}
