<div class="row">
  <div class="col-md-12 center">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel about_blurb">
      <h4><strong><u>Hours</u></strong></h4>
      <p>Monday:	9:00 am - 8:00 pm</p>
      <p>Tuesday:	9:00 am - 8:00 pm</p>
      <p>Wednesday:	9:00 am - 8:00 pm</p>
      <p>Thursday:	9:00 am - 8:00 pm</p>
      <p>Friday:	9:00 am - 8:00 pm</p>
      <p>Saturday:	9:00 am - 7:30 pm</p>
      <p>Sunday:	Closed</p>
      <h4><strong><u>Contact</u></strong></h4>
      <p>488-500 N Main St West Hartford, CT 06117</p>
      <p>888-888-8888</p>
      <a href="mailto:dealer@dealer.com">dealer@dealer.com</a>
    </div>
  </div>
  <div class="col-md-6 center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5950.027529446886!2d-72.74678481611402!3d41.78491699993285!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e7ab7d6946e24b%3A0xe313169ffa9402b!2sBishops+Corner+West+Shopping+Center!5e0!3m2!1sen!2sus!4v1430324503696" width="500" height="350" frameborder="0" style="border:0"></iframe>
  </div>
</div>
